html,
body {
    scroll-behavior: smooth;
}

.card-icon {
    animation: autorotate both;
    animation-timeline: view();
}



@keyframes fadeUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.card h3 {
    animation: fadeUp both;
    animation-timeline:view();
}

.hero-title {
    display: inline-block;
    margin: 0.5rem;

    animation: backInUp;
    animation-duration: 2s;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}



.section-title {
  display: inline-block;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  
}

.yalla1{
    margin-left: -1250px;
    margin-top: -300px;
}

.timeline-content h3 {
    animation: fadeUp both;
    animation-timeline:view();
}


.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}